:root {
  --primary-color: #2979ff;
  --secondary-color: #c28e00;
  --dark-color: #1a1a1d;
  --light-color: #ffffff;
  --danger-color: #b42937;
  --success-color: #28a745;
  --color-1: #f6f4e6;
  --color-2: #fddb3a;
  --color-3: #52575d;
  --color-4: #41444b;
  --color-5: #fae060;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: var(--color-4);
}

.inner-container {
  width: 30%;
  margin-top: -100px;
}

.input {
  border-radius: 5px;
  padding: 12px 18px;
  width: 100%;
}

.heading {
  color: var(--light-color);
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-2);
}

.btn {
  color: var(--color-3);
  text-transform: uppercase;
  background: var(--color-2);
  padding: 15px 15px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-5);
}

@media screen and (max-width: 768px) {
  .inner-container {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .inner-container {
    width: 80%;
  }
}
